<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="google-signin-scope" content="profile email">
<meta name="google-signin-client_id" content="729302438495-j1tfg2mbar3v6p717qephqfcvgfoav0n.apps.googleusercontent.com">

<title>POST LEE App</title>

<!-- STYLESHEETS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="/styles/styles.css">
<!-- VENDOR SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
</head>
<body>

<a href="/" onclick="signOut();"><button>Sign out</button></a>

<h1>Welcome to POSTLEE!</h1>

<h2><a href="/categories/music">Music</a></h2>
<ul class="Music">
</ul>   

<h2><a href="/categories/sports">Sports</a></h2>
<ul id="Sports">
</ul>

<h2><a href="/categories/food">Food</a></h2>
<ul id="Food">
</ul> 

<h2><a href="/categories/travel">Travel</a></h2>
<ul id="Travel">
</ul>   

<h2><a href="/categories/animals">Animals</a></h2>
<ul id="Animals">
</ul>   
<!-- APPLICATION SCRIPTS -->
<!-- <script src="/scripts/app.js"></script> -->
<script src="/scripts/landing.js"></script>

</body>
</html>
    