<!DOCTYPE html>
<html>



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/post.css">
    
</head>

<header>
    <div class ="postTitle"><h1>Music Post</h1></div>
    <div class ="authorName"><h3>Author Name</h3>
    </div>

</header>


<body>
    <div class ="imageDiv">
        <img id="post-image" > 
    </div>
    <div>
        <a id="deleteLink" href="">Delete Post</a>
        <a id="editLink" href="">Edit Post</a>
    </div>

    <div id="body-text" class="postText">

    </div>
    <h1> New Comment</h1>

     
        <div id= "userComment">
            <form method= "POST" action= "/api/categories/:id"
            <form  id="commentForm"> 
                <p><label for="title">Comment</label><br></p>
                <p><input class ="commentInput" type="text" name="text" placeholder="Comment"></p>
                <p><label for="title">Author</label></p>
                <p><input type="text"  name="author" placeholder="Author"></p>
              
              <button type="submit" class="btn btn-default">Post Comment</button>
            </form>
          </div>
        
            <div id='commentTarget'>
            </div>
       







        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
 <script src="/scripts/post.js"></script>
</body>
</html>