/* div{
    display: flex;
    justify-content: center;
    margin-top:10px;
   
} */

input {
    color: white;
}

textarea {
    color: white;
}

/* html{
    background-image: linear-gradient(rgb(31, 33, 55), rgb(12, 12, 7));
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
} */