body {
    text-align: center;
}
h1{
    color: red;
}

ul li {
    list-style-type: none;
}

img{
    width:200px;
    padding-bottom: 20px;
}   
.header {
margin-top: 10px;
}

/* POSTS */
.posts-list {
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.post-preview {
    border:1px solid black;
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-preview img {
    margin: 0 auto;
    max-width: 100%;
}