body{
    text-align: center;   
}

div{
    display: flex;
}
header{
    margin-bottom: 100px;
}
header h1{
    color: red;
}

textarea{
    width: 900px;
    height: 200px;
    display: inline-block;
    margin-left: 30%;
}

button{
    width: 70%;
    margin-left: 40%;
  
}

.postText{
    width: 70%;
   display: inline-block;
}
