body{
    text-align: center;   
}

div{
    display: flex;
}
header{
    margin-bottom: 100px;
}

 textarea{
    height: 200px;
}

.commentAuthor, textarea{
    width:900px;
}

button, .postText{
    width: 70%;
}

.postText{
   display: inline-block;
}

img{
    height:400px;
    width: 400px;  
}

.imageDiv{
    display:block;
}

.newComment, .imageDiv{
    justify-content: center;
}

.userComment{
    background:red;
    height: 500px;
}

