img{
    height: 80%;
    width: 80%; 
    border:2px inset white; 
}

.imageDiv {
    margin:2em;
}

.postText {
    padding: 2em;
    margin-bottom: 1em;
}

.post-container {
    margin-bottom: 2em;
}

.button-group a {
    margin-bottom: 1em;
}

p {
    background-color: rgb(18, 85, 106);
}