html,body{
   
        background-image: linear-gradient(rgb(31, 33, 55), rgb(12, 12, 7));
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;  
}


body {
    text-align: center;
}
h1{
    color:rgb(18, 85, 106);
}

ul li {
    list-style-type: none;
}

a{
    color:white;
}

button{
    color:rgb(18, 85, 106);
    margin-top:50px;
    border:2px inset black;
    
}